<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-warning">Siga-nos nas redes sociais</h4>
            </div>
        </div>
    

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="https://www.linkedin.com/in/vinicios-lisboa-057b7616a" target="_blank" class="iconlinkedin">
                        <i class="fa fa-linkedin-square ebutton" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/vinicioslisboa_" target="_blank" class="iconinstagram">
                        <i class="fa fa-instagram ebutton" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Vinicioslisboa" target="_blank" class="icongithub">
                        <i class="fa fa-github-square ebutton" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div class="footer-copyright bg-warning text-center py-3">
        <span class="text-dark font-weight-bold">© 2021 Copyright: </span><a class="text-light font-weight-bold Copyright" target="_blank" href="https://github.com/Vinicioslisboa/blogPessoal-v2">VL Development</a>

    </div>

</footer>