.fs-16{
    font-size: 16pt;

}

.fs-14{
    font-size: 14pt;

}

a{
    cursor: pointer;

}

.ebutton{
    transition: all 0.5s;
    cursor: pointer;
}

.ebutton:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.border-radius{
    border: solid 2px #ffc107;
    border-radius: 50%;
}