<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="{{foto}}" alt="Foto do usuário "width="65px" height="65px" class="border-radius">
        </li>
        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-warning fs-16">Olá, {{nome}}</p>
        </li>
        <li *ngIf='auth.adm()' class="nav-item pl-3">
          <a [routerLink]="['/user-edit', id]"><p class=" text-warning fs-16 m-0 ebutton"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <button type="button" class="btn btn-warning p-1 ebutton"><li class="nav-item pl-2">
          <a (click)='deslogar()' class="m-0 font-weight-bold text-dark fs-14">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li></button>
        

      </ul>
    </div>
  </nav>