/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}

.fs-55{
    font-size: 55px;

}

.fs-18{
    font-size: 18px;
}

.tipofonte{
    font-family: 'bebas neue', sans-serif
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 2px;
}

::-webkit-scrollbar-track{
    background-color:black;

}
